@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=DM+Serif+Display&family=Montserrat:wght@200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Serif+Pro:wght@600&display=swap');
html {
  height: 100%
}
@media (max-width: 2560px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 580px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white {
    width: 400px;
  }
}
body {
  background-color: #CCE3DE;
  background-image: url('./images/computer-background.png');
  background-size: cover;
  font-family: 'Montserrat', Helvetica, sans-serif ;
  color: #2e3d36;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 72px 16px 0px 16px;
}

h1,h2 {
  text-align: center;
  color:#2e3d36;
}
a {
  color: #2e3d36;
  text-decoration: none;
  font-weight: 600;
}
a:visited {
  color: #2e3d36;
}
a:hover {
  text-decoration: underline;
}
.img-circle {
  border-radius: 50%;
  border: 3px solid white;
  width: 100px;
}
.card-white {
  margin: 24px auto;
  background-color: #d8e8e3;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.1)
}
.btn-green {
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  background-color: #6B9080;
  margin: 0 auto;
}
.btn-green a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}
.btn-green:hover {
   background-color: #A4C3B2;
}
#poll {
  margin: 0 auto;
  padding: 0 0 16px 0;
}
button {
  background-color: #6B9080;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 0 0 8px 0;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}
button:hover {
  background-color: #A4C3B2;
}
table {
  width: 50%
}
.list-inline ul > li {
  display: inline-block;
  padding: 0px 16px;
  font-size: 36px;
}
.list-inline {
  list-style: none;
  padding: 0px;
}
ul {
  display: inline-block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
i {
  color: #6B9080;
}
i:hover {
  color: #A4C3B2;
}
